
<div class="card w-1000 my-1 border-0 bg-dark bg-gradient">
        <div class="card-body">
            <h5 class="card-title text-white"><%= @post.title %></h5>
            <h6 class="card-subtitle mb-2 text-white-50">Posted by: <%= @post.user.username %></h6>
            <p class="card-text text-light"><%= @post.body %></p>
            <%= link_to edit_post_path(@post) do %>
                <span class="icon"><i class="fas fa-edit"></i></span>
            <% end %>
            <%= link_to 'Back', posts_path %>
        </div>
</div>

<% @comments.each do |comment| %>

<div class="card my-1 py-1">
    <%= comment.user %>
    <%= comment.body %>
</div>

<% end %>



<%= link_to "Add Comment" , '/comments/new' , class:"btn btn-primary" %>